body {
    display: grid;
    align-items: center;
    justify-items: center;
}

input[readonly] {
    background-color: lightgrey;
}

button {
    font-family: sans-serif;
    font-size: 1em;
    width: 13em;
    height: 2em;
    border: 0.1em solid black;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

th {
    background-color: khaki;
}

table {
    margin-bottom: 1em;
}

tr:nth-child(odd) {
    background-color: cyan;
}