<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= paaotsikko %></title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <h1><%= otsikko %></h1>
    <p><%= viesti %></p>
    <a href="/"><button>Valikkoon</button></a>
</body>

</html>