<!DOCTYPE html>
<html lang="fi" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Valikko</title>
<link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
<h1>Valikko</h1>
<a href="/kaikki"><button>Hae autot</button></a>
<a href="/hae"><button>Hae auto</button></a>
<a href="/lisaa"><button>Lisää auto</button></a>
<a href="/paivita"><button>Muuta auton tietoja</button></a>
<a href="/poista"><button>Poista auto</button></a>
</body>
</html>
